html{
    scroll-behavior: smooth;
}

#Skip {
    position: absolute;
    left: -500px;
}

#Skip:focus {
    left: 100px;
    transition: 1s;
}

h1 {
    font-family: "pragmatica-extended", sans-serif;
    font-size: 6vw;
    font-style: italic;
    text-transform: uppercase;
    text-align: justify;
    border: 10px solid #A9BF04;
    background-color: #eeebe122;
    padding: 0.5%;
    /* margin-block-start: 0.75em; */
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: static;
    top: 0;
    left: 0;
    /* width: 100%; */
    justify-content: center;
    padding: 20px 10px 20px 10px; 
    z-index: 1000;
    margin-top: auto;
}



h2 {
    font-family: "pragmatica-extended", sans-serif;
    font-size: 2vw;
    padding-top: 4%;
    text-transform: uppercase;
    text-align: left;
}

h3 {
    font-family: "pragmatica-extended", sans-serif;

    font-size: 1.5vw;
    padding-top: 2.5%;
}


article {
    display: block;
    font-family:  "Courier Std Medium Oblique", 'Courier New', Courier, monospace;
    border: solid #BF8360 5px;
    padding: 2%;
    margin: 10px;
}



body{
    font-family: "Courier Std Medium Oblique", 'Courier New', Courier, monospace;
    border-radius: 50px;
    padding-left: 5%; 
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: #eeebe122;
    font-style: italic;
    font-size: 110%;
    text-align: left;
    
}

p {
    line-height: 1.5;

}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #778C58;
    background-color: #f5f1e6;
    font-size: 200%;
    width: 100%;
    
    /* position: fixed; */
    /* bottom: 0; */

}

nav a{ 
    font-family: "pragmatica",'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 2vw;
    font-style: italic;
    margin: 3%;
    text-decoration: none;
    /* color: #63704e; */
    color: #73774f;
    padding: 2%;
    line-height: 0;

}
/* need javascript for active state? */

nav a:hover{
    background-color: #A9BF04;
    color: white;
    padding: 2%;
}

.current {
    font-size: 2vw;
    text-transform: uppercase;
    background-color: #BF2642;
    color: #f5f1e6;

}

.image-text {
    display: flex;
    width: 45vw;
    align-items: center;
}

.image-text2 {
    display: flex;
    width: 45vw;
    align-items: center;
}

.image-text:hover .overlay-text {
    opacity: 1;
}

img {
    width: 100%;
    display: block;
    transition: opacity 0.3s ease; /* Smooth transition effect */
}

img:hover {
    opacity: 0.5;
}


.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    pointer-events: none; /* Ensures text does not interfere with image hover */
    white-space: nowrap; /* Prevent text from wrapping */
    opacity: 0; /* Initially hide the overlay text */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}


 .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Optional: adds space between images */
}
.image-gallery .image-text {
    flex: 1 1 calc(50% - 10px); /* Adjust width to 50% minus the gap */
    box-sizing: border-box; /* Ensure padding and borders are included in the width calculation */
}
.image-gallery img {
    width: 100%;
    height: auto;
    display: block;
}

/* Media query to adjust image size for smaller screens */


.image-grid img:hover, .image-grid img:focus{
    border-color: #BF2642; /* Change border color on hover */
    transform: scale(1.2); /* Increase size on hover */
    opacity: 1;
    border-radius: 10px;
}



.header-container {
    position: relative;
    margin-left: auto; /* Automatically adjust left margin to center the container */
    margin-right: auto; /* Automatically adjust right margin to center the container */
    padding-left: 0; /* Remove padding on the left */
    }
  
  .header-container img {
    width: 100%; /* Ensure the image takes up the full width of the container */
}
  
    
  .special-heading {
    position: absolute;
    width: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(191, 38, 66, 0.3);
    padding: 10px 20px;
    font-size: 60px;
    text-align: center;
  }

  .banner {
        /* Set a specific height */
        min-height: 500px; 

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    
  }

  .glendalough {
        /* The image used */
    background-image: url("../images1/glennewbanner.jpeg");


  }

  .dublin {
    background-image: url("../morepics/dublinBanner2.jpeg");
  }

  .northernireland {
    background-image: url("../camImages/giantsbanner3.JPG");
  }

  .galway {
    background-image: url("../camImages/galwayBanner.jpeg");
  }

  .cliffsofmoher {
    background-image: url("../morepics/cliffsView.jpg");
  }

    .blogpage {
        background-image: url("../images1/gal5.jpeg");
    }


figcaption {
    position: absolute;
    top: 40%;
    color: blue;
}

    
footer {
    padding-top: 20px;
}

.parallax  {
    display: none;
}




.about-stuff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.me-cam {
    display: inline-block; /* Set both elements to display as inline-block */
    justify-content: right;
    vertical-align: top; /* Align elements vertically at the top */
    /* width: 50%; Each element takes up 50% of the width of its container */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    width: 48%;
    height: 420px;

}

.index-video {
    width: 48%;
    height: 420px;
    border: #BF2642 8px solid;

}

.mePic {
    display: block; /* Change from inline-block to block */
    margin: 2; /* Set left and right margins to auto */
    width: 20vw;
    border-radius: 50%;
    padding: 6%;
    justify-content: left;

}

.about-me-p {
    padding-top: 50px;
    padding-left: 50px;
    text-align: justify;
}

.about {
    display: flex;
    margin: 3%;
    vertical-align: center;
}

#map {
    max-width: 100%; /* Ensure the map doesn't exceed the width of its parent container */
}



.image-gallery2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.image-gallery2 img{
    /* opacity:.5; */
    z-index: -4;

}

a {
    color:#BF2642;
}

.image-gallery2 p{
    z-index: 99;
    font-size: 110%;
    color:black;
    position: sticky;
    top:50px;
    left:50px;
    padding-right: 20px;
    padding-left: 5px;
}

.image-gallery-up {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-top: 10px;

}


.poem {
    background-image: url("../morepics/kellsMeSarah.JPEG");
    height: 97.5%;
}
.poemwords{
    text-decoration: none;
    color: white;
    z-index: 1000;
    margin: 4%;
    justify-content: center;
}
.poem-heading{
    padding-top: 30%;
    color:#bf2642dd;
    font-family: "pragmatica-extended", sans-serif;;
    font-size: large;
    margin: 4%;
}

.kellsSarah1 {
    border-bottom: #a9bf0421 solid 80px;
    border-bottom: #bf836026 solid 80px;

}

.kellsSarah2 {
    border-bottom: #a9bf0421 solid 20px;
    border-bottom: #bf836026 solid 20px;

}

.globe-text{
    background-color:#bf2642;
    color: white;
    height: 40%;
    font-weight:100;
    /* font-family: "pragmatica-extended", sans-serif; */
    padding: 3%;
}
.globey {

    height: 100%
}

@media (prefers-reduced-motion: reduce) {
    html {
      		scroll-behavior: auto; /* Disae smooth scrolling */
    }

    *{
        	transition: 0s !important; 
    }
  }

  @media (prefers-color-scheme: dark) {
    nav {
        background: #333;
        border: solid 6px whitesmoke;
       }
        nav a {
               color: #fff;
    }
    body{
        background-color: #333;
    }
    main{
        color: whitesmoke;
    }
    h1{
        color: whitesmoke;
    }
}

@media screen and (min-width: 760px) {
    .image-grid{
        grid-template-columns: 30% 30% 30%;
        grid-gap: 20px;
        justify-content: center;

    }
    
}

@media (max-width: 768px) {
    h1 {
        border: 8px solid #A9BF04;
        padding: 20px 10px 20px 10px;
        font-size: 12vw;
        margin-bottom: 8%;
    }
    .image-gallery2{
        grid-template-columns: 1fr;
    }
    .image-gallery-up {
        grid-template-columns: 1fr ;
    }
    .about {
        flex-direction: column; /* Stack items vertically */
    }

    .mePic {
        width: 70vw; /* Full width for smaller screens */
        justify-content: center;
        padding: 20px 20px 20px 20px;
    }

    .about-me-p {
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: justify; /* Center text */
        padding-left: 0px;
    }

    .about-me-h {
        font-size: x-large;
    }


    .about-stuff {
        display: block;
    }

    .map {
        width: 100vw;
    }

    .index-video {
        width: 78vw;
        margin: 2%;
        height: 300px;

        /* height: 360px; */
    }
    
    .me-cam  {
        width: 80vw;
        height: 300px;
        margin: 2%;
        border:#BF8360 8px dashed;


    }

    .special-heading {
        position: absolute;
        /* width: 80%; */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: rgba(191, 38, 66, 0.3);
        padding: 10px 20px;
        font-size: 8vw;
        text-align: center;
        }

    .glendalough, .kilkenny, .galway, .northernireland, .cliffsofmoher, .dublin{
        background-image: url("");
        min-height: 100px;
        padding: 10px;
    }

    .parallax {
        display: block;

    }

    nav {
        margin-bottom: 4%;
    }
    
    nav a {
        align-self: start;
        font-size: 4vw;
        padding: 3%;
    }

    nav a:hover {
        padding: 3%;
    }

    .current {
        font-size: 4vw;
    }

    h2 {
        font-size: larger;
    }

    h3 {
        font-size: large;
    }

    .globe-text{
        height: fit-content;
        padding: 3%;
    }

    .kellsSarah1 {
        border:none;
    }

    footer {
        font-size: small;
    }

}

@media (max-width: 768px) {
    .image-grid img {
        width: 45%; /* Adjust the width for smaller screens */
    }
}

/* Media query to further adjust image size for even smaller screens */
@media (max-width: 480px) {
    .image-grid img {
        width: 90%; /* Adjust the width further for smaller screens */
        margin: 2%; /* Increase margin for smaller screens */
    }
}

@media (max-width: 600px) {
    .me-cam  {
        width: 82vw;
        height: 210px;
        margin: 2%;
        border:#BF8360 5px dashed;


    }

    h2 {
        font-size: large;
    }

    nav {
        justify-content: space-evenly;
    }

    nav a {
        align-self: start;
        font-size: 4vw;
        padding: 3%;
    }
    h1 {
        font-size: larger;
    }
}



